<section class = "container">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ event.title }}</h5>
              
              <ul class="list-group list-group-flush">
                  {% for cat in event.categories.all %}
                  <li class="list-group-item">{{ cat.name }}</li>
                  {% endfor %}
              </ul>
        <p class="card-text">{{ event.start_time }}</p>
        <div class="card-body">
        <a href="{% url 'eventFinderApp:event' event.id %}" class="btn">Go somewhere</a>
  </div>
      </div>
</div>
</section>
